body {
  background: #ede8e4;
}

#text-container {
  color: #141312;
  margin: 0 30vw;
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-family: "Libre Baskerville", serif;
}

@media only screen and (max-width: 1600px) {
  #text-container {
    margin: 0 20vw;
  }
  .title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 800px) {
  #text-container {
    margin: 0 5vw;
  }
  .title {
    font-size: 28px;
  }
}

:root {
  --telescope-highlight: #95abe655;
  --telescope-highlight-hover: #95abe699;
  --telescope-text-color: #1f2021;
}

.signoff {
  font-size: 1rem;
}

.specialColor {
  transition: color 1s, font-size 1.5s;
}

.emotion_black {
  color: lightgray;
  font-size: 22px;
  transition: color 1s, font-size 1.5s;
}

.emotion_green {
  color: green;
  font-size: 22px;
  transition: color 1s, font-size 1.5s;
}

.emotion_red {
  color: red;
  font-size: 22px;
  transition: color 1s, font-size 1.5s;
}

.emotion_blue {
  color: blue;
  font-size: 22px;
  transition: color 1s, font-size 1.5s;
}

@keyframes fadeIn {
0% {opacity: 0.1;}
100% {opacity: 0.5;}
}

@keyframes bracketIn {
0% {opacity: 0.1;}
100% {opacity: 0.8;}
}

.bracket {
  animation: bracketIn linear 2s;
  color: red;
}

.fadeIn {
  animation: fadeIn linear 1s;
  opacity: 0.5;
}
